/*WPH Recipe templates*/
.rcpwph-recipe-wrapper{
    padding:50px;
    max-width:1200px;
    margin:auto;
}
#rcpwph-popup-player{
    width:800px;
}
.rcpwph-carousel{
    max-width:500px;
    margin:auto;
}
.rcpwph-bordered{
    border:4px solid;
}
.rcpwph-icon-new{
    font-size:225px!important;
    padding:50px 0;
}