:root {
  --color-main:#cc4747;
  --bg-color-main:#cc4747;
  --border-color-main:#cc4747;
  --color-main-alt:#232323;
  --bg-color-main-alt:#232323;
  --border-color-main-alt:#232323;
  --color-main-blue:#6e6eff;
}

/*Global styles*/
.rcpwph-vertical-align-middle{
  vertical-align:middle;
}
.rcpwph-vertical-align-bottom{
  vertical-align:bottom;
}
.rcpwph-vertical-align-super{
  vertical-align:super;
}
.rcpwph-vertical-align-top{
  vertical-align:top;
}
.rcpwph-font-weight-lighter{
  font-weight:lighter;
}
.rcpwph-font-weight-normal{
  font-weight:normal;
}
.rcpwph-font-weight-bolder{
  font-weight:bolder;
}
.rcpwph-font-weight-bold{
  font-weight:bold;
}
.rcpwph-font-style-italic{
  font-style:italic;
}
.rcpwph-font-size-10{
  font-size:10px;
}
.rcpwph-font-size-12{
  font-size:12px;
}
.rcpwph-font-size-13{
  font-size:13px;
}
.rcpwph-font-size-14{
  font-size:14px;
}
.rcpwph-font-size-15{
  font-size:15px;
}
.rcpwph-font-size-16{
  font-size:16px;
}
.rcpwph-font-size-20{
  font-size:20px;
}
.rcpwph-font-size-25{
  font-size:25px;
}
.rcpwph-font-size-30{
  font-size:30px;
}
.rcpwph-font-size-40{
  font-size:40px;
}
.rcpwph-font-size-50{
  font-size:50px!important;
}
.rcpwph-font-size-75{
  font-size:75px!important;
}
.rcpwph-font-size-100{
  font-size:100px!important;
}
.rcpwph-list-style-none{
  list-style:none
}
.rcpwph-width-auto{
  width:auto
}
.rcpwph-width-10-percent{
  width:9.5%;
}
.rcpwph-width-20-percent{
  width:19.5%;
}
.rcpwph-width-25-percent{
  width:24.5%;
}
.rcpwph-width-30-percent{
  width:29.5%;
}
.rcpwph-width-33-percent{
  width:32.4%;
}
.rcpwph-width-40-percent{
  width:39.5%;
}
.rcpwph-width-50-percent{
  width:49.5%;
}
.rcpwph-width-60-percent{
  width:59.5%;
}
.rcpwph-width-66-percent{
  width:65.5%;
}
.rcpwph-width-70-percent{
  width:69.5%;
}
.rcpwph-width-75-percent{
  width:74.5%;
}
.rcpwph-width-80-percent{
  width:79.5%;
}
.rcpwph-width-90-percent{
  width:89.5%;
}
.rcpwph-width-100-percent{
  width:100%;
}
.rcpwph-width-25{
  width:25px;
}
.rcpwph-width-50{
  width:50px;
}
.rcpwph-width-75{
  width:75px;
}
.rcpwph-width-100{
  width:100px;
}
.rcpwph-height-auto{
  height:auto
}
.rcpwph-height-25-percent{
  height:25%;
}
.rcpwph-height-50-percent{
  height:50%;
}
.rcpwph-height-75-percent{
  height:75%;
}
.rcpwph-height-100-percent{
  height:100%;
}
.rcpwph-height-25{
  height:25px;
}
.rcpwph-height-50{
  height:50px;
}
.rcpwph-height-75{
  height:75px;
}
.rcpwph-height-100{
  height:100px;
}
.rcpwph-text-2-columns{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
}
.rcpwph-text-transform-initial{
  text-transform:initial;
}
.rcpwph-text-transform-uppercase{
  text-transform:uppercase;
}
.rcpwph-text-transform-lowercase{
  text-transform:lowercase;
}
.rcpwph-text-transform-capitalize{
  text-transform:capitalize;
}
.rcpwph-font-weight-500{
  font-weight:500
}
.rcpwph-font-weight-600{
  font-weight:600
}
.rcpwph-font-weight-700{
  font-weight:700
}
.rcpwph-pointer-events-all{
  pointer-events:all
}
.rcpwph-pointer-events-none{
  pointer-events:none
}
.rcpwph-text-align-center{
  text-align:center
}
.rcpwph-text-align-left{
  text-align:left
}
.rcpwph-text-align-right{
  text-align:right
}
.rcpwph-text-align-justify{
  text-align:justify;
  text-justify:inter-word;
}
.rcpwph-link-disabled{
  pointer-events:none;
  cursor:default;
}
.rcpwph-margin-auto{
  margin:auto
}
.rcpwph-margin-left-auto{
  margin-left:auto
}
.rcpwph-margin-right-auto{
  margin-right:auto
}
.rcpwph-container{
  display:flex;
}
.rcpwph-row{
  margin:0 20px 10px 20px;
}
.rcpwph-justify-content-center{
  justify-content:center;
}
.rcpwph-justify-content-space-between{
  justify-content:space-between;
}
.rcpwph-display-flex{
  display:flex
}
.rcpwph-display-block{
  display:block
}
.rcpwph-display-table{
  display:table
}
.rcpwph-display-table-cell{
  display:table-cell
}
.rcpwph-display-inline-table{
  display:inline-table
}
.rcpwph-display-inline{
  display:inline
}
.rcpwph-display-inline-block{
  display:inline-block
}
.rcpwph-display-none,.pn_wph_nonce{
  display:none!important
}
.rcpwph-display-none-soft{
  display:none
}
.rcpwph-overflow-hidden{
  overflow:hidden;
}
.rcpwph-m-0{
  margin:0px;
}
.rcpwph-m-10{
  margin:10px;
}
.rcpwph-m-20{
  margin:20px;
}
.rcpwph-m-30{
  margin:30px;
}
.rcpwph-m-40{
  margin:40px;
}
.rcpwph-m-50{
  margin:50px;
}
.rcpwph-m-60{
  margin:60px;
}
.rcpwph-m-70{
  margin:70px;
}
.rcpwph-m-75{
  margin:75px;
}
.rcpwph-m-80{
  margin:80px;
}
.rcpwph-m-90{
  margin:90px;
}
.rcpwph-m-100{
  margin:100px;
}
.rcpwph-mt-0{
  margin-top:0px;
}
.rcpwph-mt-10{
  margin-top:10px;
}
.rcpwph-mt-20{
  margin-top:20px;
}
.rcpwph-mt-30{
  margin-top:30px;
}
.rcpwph-mt-40{
  margin-top:40px;
}
.rcpwph-mt-50{
  margin-top:50px;
}
.rcpwph-mt-60{
  margin-top:60px;
}
.rcpwph-mt-70{
  margin-top:70px;
}
.rcpwph-mt-75{
  margin-top:75px;
}
.rcpwph-mt-80{
  margin-top:80px;
}
.rcpwph-mt-90{
  margin-top:90px;
}
.rcpwph-mt-100{
  margin-top:100px;
}
.rcpwph-mr-0{
  margin-right:0px;
}
.rcpwph-mr-10{
  margin-right:10px;
}
.rcpwph-mr-20{
  margin-right:20px;
}
.rcpwph-mr-30{
  margin-right:30px;
}
.rcpwph-mr-40{
  margin-right:40px;
}
.rcpwph-mr-50{
  margin-right:50px;
}
.rcpwph-mr-60{
  margin-right:60px;
}
.rcpwph-mr-70{
  margin-right:70px;
}
.rcpwph-mr-75{
  margin-right:75px;
}
.rcpwph-mr-80{
  margin-right:80px;
}
.rcpwph-mr-90{
  margin-right:90px;
}
.rcpwph-mr-100{
  margin-right:100px;
}
.rcpwph-mb-0{
  margin-bottom:0px;
}
.rcpwph-mb-10{
  margin-bottom:10px;
}
.rcpwph-mb-20{
  margin-bottom:20px;
}
.rcpwph-mb-30{
  margin-bottom:30px;
}
.rcpwph-mb-40{
  margin-bottom:40px;
}
.rcpwph-mb-50{
  margin-bottom:50px;
}
.rcpwph-mb-60{
  margin-bottom:60px;
}
.rcpwph-mb-70{
  margin-bottom:70px;
}
.rcpwph-mb-75{
  margin-bottom:75px;
}
.rcpwph-mb-80{
  margin-bottom:80px;
}
.rcpwph-mb-90{
  margin-bottom:90px;
}
.rcpwph-mb-100{
  margin-bottom:100px;
}
.rcpwph-ml-0{
  margin-left:0px;
}
.rcpwph-ml-10{
  margin-left:10px;
}
.rcpwph-ml-20{
  margin-left:20px;
}
.rcpwph-ml-30{
  margin-left:30px;
}
.rcpwph-ml-40{
  margin-left:40px;
}
.rcpwph-ml-50{
  margin-left:50px;
}
.rcpwph-ml-60{
  margin-left:60px;
}
.rcpwph-ml-70{
  margin-left:70px;
}
.rcpwph-ml-75{
  margin-left:75px;
}
.rcpwph-ml-80{
  margin-left:80px;
}
.rcpwph-ml-90{
  margin-left:90px;
}
.rcpwph-ml-100{
  margin-left:100px;
}
.rcpwph-p-0{
  padding:0px;
}
.rcpwph-p-10{
  padding:10px;
}
.rcpwph-p-20{
  padding:20px;
}
.rcpwph-p-30{
  padding:30px;
}
.rcpwph-p-40{
  padding:40px;
}
.rcpwph-p-50{
  padding:50px;
}
.rcpwph-p-60{
  padding:60px;
}
.rcpwph-p-70{
  padding:70px;
}
.rcpwph-p-75{
  padding:75px;
}
.rcpwph-p-80{
  padding:80px;
}
.rcpwph-p-90{
  padding:90px;
}
.rcpwph-p-100{
  padding:100px;
}
.rcpwph-pt-0{
  padding-top:0px;
}
.rcpwph-pt-10{
  padding-top:10px;
}
.rcpwph-pt-20{
  padding-top:20px;
}
.rcpwph-pt-30{
  padding-top:30px;
}
.rcpwph-pt-40{
  padding-top:40px;
}
.rcpwph-pt-50{
  padding-top:50px;
}
.rcpwph-pt-60{
  padding-top:60px;
}
.rcpwph-pt-70{
  padding-top:70px;
}
.rcpwph-pt-75{
  padding-top:75px;
}
.rcpwph-pt-80{
  padding-top:80px;
}
.rcpwph-pt-90{
  padding-top:90px;
}
.rcpwph-pt-100{
  padding-top:100px;
}
.rcpwph-pr-0{
  padding-right:0px;
}
.rcpwph-pr-10{
  padding-right:10px;
}
.rcpwph-pr-20{
  padding-right:20px;
}
.rcpwph-pr-30{
  padding-right:30px;
}
.rcpwph-pr-40{
  padding-right:40px;
}
.rcpwph-pr-50{
  padding-right:50px;
}
.rcpwph-pr-60{
  padding-right:60px;
}
.rcpwph-pr-70{
  padding-right:70px;
}
.rcpwph-pr-75{
  padding-right:75px;
}
.rcpwph-pr-80{
  padding-right:80px;
}
.rcpwph-pr-90{
  padding-right:90px;
}
.rcpwph-pr-100{
  padding-right:100px;
}
.rcpwph-pb-0{
  padding-bottom:0px;
}
.rcpwph-pb-10{
  padding-bottom:10px;
}
.rcpwph-pb-20{
  padding-bottom:20px;
}
.rcpwph-pb-30{
  padding-bottom:30px;
}
.rcpwph-pb-40{
  padding-bottom:40px;
}
.rcpwph-pb-50{
  padding-bottom:50px;
}
.rcpwph-pb-60{
  padding-bottom:60px;
}
.rcpwph-pb-70{
  padding-bottom:70px;
}
.rcpwph-pb-75{
  padding-bottom:75px;
}
.rcpwph-pb-80{
  padding-bottom:80px;
}
.rcpwph-pb-90{
  padding-bottom:90px;
}
.rcpwph-pb-100{
  padding-bottom:100px;
}
.rcpwph-pl-0{
  padding-left:0px;
}
.rcpwph-pl-10{
  padding-left:10px;
}
.rcpwph-pl-20{
  padding-left:20px;
}
.rcpwph-pl-30{
  padding-left:30px;
}
.rcpwph-pl-40{
  padding-left:40px;
}
.rcpwph-pl-50{
  padding-left:50px;
}
.rcpwph-pl-60{
  padding-left:60px;
}
.rcpwph-pl-70{
  padding-left:70px;
}
.rcpwph-pl-75{
  padding-left:75px;
}
.rcpwph-pl-80{
  padding-left:80px;
}
.rcpwph-pl-90{
  padding-left:90px;
}
.rcpwph-pl-100{
  padding-left:100px;
}
.rcpwph-mobile-scrollable{
  overflow-x:auto;
}
.rcpwph-mobile-scrollable img,.rcpwph-mobile-scrollable div,.rcpwph-mobile-scrollable table,.rcpwph-mobile-scrollable canvas{
  min-width:400px;
}
.rcpwph-overlay-container{
  position:relative;
  height:auto;
  overflow:hidden;
}
.rcpwph-overlay-background{
  position:relative;
  height:auto;
  overflow:hidden;
}
.rcpwph-overlay-front{
  width:100%;
  position:absolute;
  z-index:4;
  top:auto;
  text-align:center;
}
.rcpwph-img-hover-zoom{
  opacity:100;
  -webkit-transition:all .27s cubic-bezier(.3,.1,.58,1);
  -moz-transition:all .27s cubic-bezier(.3,.1,.58,1);
  -o-transition:all .27s cubic-bezier(.3,.1,.58,1);
  -ms-transition:all .27s cubic-bezier(.3,.1,.58,1);
  transition:all .27s cubic-bezier(.3,.1,.58,1);
}
.rcpwph-img-hover-zoom:hover{
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -o-transform:scale(1.05);
  -ms-transform:scale(1.05);
  transform:scale(1.05);
}
.rcpwph-ul-cookies-list{
  word-wrap:break-word;
}
.rcpwph-full-row{
  width:100vw;
  position:relative;
  margin-left:-50vw;
  height:100px;
  left:50%;
}
.rcpwph-z-index-bottom,.whp-base-z-index-9{
  z-index:9
}
.rcpwph-z-index-99{
  z-index:99
}
.rcpwph-z-index-999{
  z-index:999
}
.rcpwph-z-index-9999{
  z-index:9999
}
.rcpwph-z-index-top,.rcpwph-z-index-99999{
  z-index:99999
}
.rcpwph-ellipsis{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
input.rcpwph-input,textarea.rcpwph-input{
  -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color:#ffffff;
  border:1px solid #cccccc;
  -webkit-box-shadow:none;
  box-shadow:none;
  min-height:50px;
  padding:12px 18px;
  font-size:14px;
  line-height:1.42857143;
  border-radius:4px;
  margin-bottom:15px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
input.rcpwph-input:focus,textarea.rcpwph-input:focus{
  box-shadow:inset 0 1px 1px #00000013,0 0 8px var(--color-main)99;
  border-color:var(--color-main);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px #00000013,0 0 8px var(--color-main)99;
}
.rcpwph-switch input.rcpwph-input[type="checkbox"]{
  min-height:24px!important;
  margin-bottom:0!important;
}
.rcpwph-switch{
  position:relative;
  display:inline-block;
  width:60px;
  height:24px;
}
.rcpwph-switch input{
  opacity:0;
  width:0;
  height:0;
}
.rcpwph-slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#cccccc;
  -webkit-transition:.4s;
  transition:.4s;
}
.rcpwph-slider:before{
  position:absolute;
  content:"";
  height:18px;
  width:18px;
  left:4px;
  bottom:3px;
  background-color:white;
  -webkit-transition:.4s;
  transition:.4s;
}
input:checked + .rcpwph-slider{
  background-color:var(--bg-color-main);
}
input:focus + .rcpwph-slider{
  box-shadow:0 0 1px var(--bg-color-main);
}
input:checked + .rcpwph-slider:before{
  -webkit-transform:translateX(33px);
  -ms-transform:translateX(33px);
  transform:translateX(33px);
}
.rcpwph-slider.rcpwph-round{
  border-radius:34px;
}
.rcpwph-slider.rcpwph-round:before{
  border-radius:50%;
}
.woocommerce ul.products li.product a.button,.wp-element-button,.rcpwph-btn{
  background-color:var(--color-main);
  color:#fff;
  text-shadow:0 0 20px var(--color-main);
  display:inline-block;
  margin:auto;
  font-weight:300;
  font-size:16px;
  font-family:Montserrat,sans-serif;
  border-radius:4px;
  height:auto;
  text-align:center;
  font-weight:normal;
  box-shadow:none;
  line-height:20px;
  border:none;
  padding:5px 20px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  cursor:pointer;
  text-decoration:none;
}
.woocommerce ul.products li.product a.button:hover,.wp-element-button:hover,.rcpwph-btn:hover{
  background-color:var(--bg-color-main-alt);
}
.rcpwph-btn-mini{
  line-height:20px;
  padding:5px 30px;
}
.rcpwph-cursor-pointer{
  cursor:pointer;
}
.rcpwph-cursor-help{
  cursor:help;
}
.rcpwph-cursor-not-allowed{
  cursor:not-allowed;
}
.rcpwph-cursor-move{
  cursor:move;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}
.rcpwph-cursor-move:active{
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}
.rcpwph-pointer-events-none{
  pointer-events:none;
}
.rcpwph-color-transparent{
  color:transparent;
}
.rcpwph-color-white{
  color:#ffffff;
}
.rcpwph-color-black{
  color:#000000;
}
.rcpwph-bg-color-white{
  background-color:#ffffff;
}
.rcpwph-bg-color-transparent{
  background-color:transparent;
}
.rcpwph-bg-color-black{
  background-color:#000000;
}
.rcpwph-color-main-0{
  color:var(--color-main);
}
.rcpwph-bg-color-main-0{
  background-color:var(--bg-color-main);
}
.rcpwph-border-color-main-0{
  border-color:var(--border-color-main);
}
.rcpwph-color-main-1{
  color:var(--color-main-alt);
}
.rcpwph-bg-color-main-1{
  background-color:var(--bg-color-main-alt);
}
.rcpwph-border-color-main-1{
  border-color:var(--border-color-main-alt);
}
.rcpwph-color-red{
  color:#da1d4c;
}
.rcpwph-color-blue{
  color:var(--color-main-blue);
}
.rcpwph-color-green{
  color:#a3ad20;
}
.rcpwph-filter-grayscale{
  filter:grayscale(100%);
}
.rcpwph-position-relative{
  position:relative;
}
.rcpwph-position-absolute{
  position:absolute;
}
.rcpwph-top-0{
  top:0;
}
.rcpwph-top-10{
  top:10px;
}
.rcpwph-top-20{
  top:20px;
}
.rcpwph-left-0{
  left:0;
}
.rcpwph-left-10{
  left:10px;
}
.rcpwph-left-20{
  left:20px;
}
.rcpwph-right-0{
  right:0;
}
.rcpwph-right-10{
  right:10px;
}
.rcpwph-right-20{
  right:20px;
}
.rcpwph-left-0{
  left:0;
}
.rcpwph-left-10{
  left:10px;
}
.rcpwph-left-20{
  left:20px;
}
.rcpwph-bottom-0{
  bottom:0;
}
.rcpwph-bottom-10{
  bottom:10px;
}
.rcpwph-bottom-20{
  bottom:20px;
}
.rcpwph-position-fixed{
  position:fixed;
}
.rcpwph-border-none{
  border:none;
}
.rcpwph-float-left{
  float:left;
}
.rcpwph-float-right{
  float:right;
}
.rcpwph-float-none{
  float:none;
}
.rcpwph-box-shadow-none{
  box-shadow:none
}
.rcpwph-text-shadow-none{
  text-shadow:none
}
.rcpwph-video-embed{
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  max-width:100%;
  height:auto;
}
.rcpwph-video-embed iframe,.rcpwph-video-embed object,.rcpwph-video-embed embed{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
textarea{
  resize:vertical;
}
.rcpwph-shadow{
  box-shadow:10px 10px 10px #00000026;
}
.rcpwph-shadow-dark{
  box-shadow:10px 10px 10px #d1d1d1;
}
.rcpwph-shadow-complete{
  box-shadow:0 0 25px 0 #00000026;
  border-radius:5px;
}
.rcpwph-main-message{
  min-width:300px;
  box-shadow:0 1px 3px 0 #3c40434d,0 4px 8px 3px #3c40434d;
  font-size:1rem;
  letter-spacing:.2px;
  -webkit-align-items:center;
  align-items:center;
  background-color:var(--color-main);
  border:none;
  -webkit-border-radius:4px;
  border-radius:4px;
  top:50px;
  right:0;
  bottom:auto;
  left:auto;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  color:#fff;
  line-height:36px;
  font-weight:400;
  margin:25px;
  max-width:640px;
  min-height:38px;
  padding:15px 25px;
  padding-right:52px;
  position:fixed;
  text-align:left;
  white-space:normal;
  line-height:25px;
  z-index:999999;
}
.rcpwph-main-message a{
  color:#8ab4f8
}
#rcpwph-bar-wrapper{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  background-color:transparent;
}
#rcpwph-bar{
  width:1%;
  height:5px;
  background:linear-gradient(90deg,#9d000a,#c36100,#006912,#004f54,#0b00a0);
}
.rcpwph-border-radius-50-percent{
  border-radius:50%;
}
.rcpwph-border-radius-5{
  border-radius:5px;
}
.rcpwph-border-radius-20{
  border-radius:20px;
}
.rcpwph-border-radius-bottom-0{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.rcpwph-border-radius-top-0{
  border-top-left-radius:0;
  border-top-right-radius:0;
}
.rcpwph-black-and-white{
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
.rcpwph-box-shadow{
  box-shadow:4px 4px 10px 1px #0000003d;
}
.rcpwph-text-shadow{
  text-shadow:2px 2px 5px var(--color-main);
}
.rcpwph-ul-columns-2{
  columns:2;
  -webkit-columns:2;
  -moz-columns:2;
}
.rcpwph-parallax{
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.rcpwph-close-icon{
  position:absolute;
  top:5px;
  right:0;
}
.rcpwph-shader{
  z-index:3;
  -webkit-transition:opacity .4s cubic-bezier(.165,.84,.44,1);
  transition:opacity .4s cubic-bezier(.165,.84,.44,1);
  opacity:0;
  background-color:#00000096;
  position:absolute;
  width:100%;
  height:100%;
}
.rcpwph-shader:hover{
  opacity:1;
}
.rcpwph-opacity-50-percent{
  opacity:0.5;
}
.rcpwph-text-decoration-none{
  text-decoration:none;
}
.rcpwph-text-decoration-underline{
  text-decoration:underline;
}
.wc-block-components-notice-banner.is-success,.rcpwph-alert-success{
  padding:10px 40px;
  border:none;
  border-radius:5px;
  background-color:#699801;
  color:#ffffff;
  margin:30px auto;
}
.rcpwph-alert-warning{
  padding:10px 40px;
  border:none;
  border-radius:5px;
  background-color:#b6821d;
  color:#ffffff;
  margin:30px auto;
}
.rcpwph-alert-error{
  padding:10px 40px;
  border:none;
  border-radius:5px;
  background-color:#b61627;
  color:#ffffff;
  margin:30px auto;
}
.rcpwph-max-width-300{
  max-width:300px!important;
}
.rcpwph-max-width-500{
  max-width:500px;
}
.rcpwph-max-width-700{
  max-width:700px;
}
.rcpwph-max-width-1000{
  max-width:1000px;
}
.rcpwph-white-space-pre-wrap{
  white-space:pre-wrap;
}
.rcpwph-width-100-percent~.select2-container{
  width:100%!important;
}
.rcpwph-body .select2-search__field{
  padding:10px!important;
  font-size:20px;
}
.rcpwph-select.rcpwph-display-none + .rcpwph-select~.select2-container{
  display:none
}
.rcpwph-body.rcpwph-user-logged-in .fancybox-container~.select2-container--open .select2-dropdown{
  top:30px;
}
.rcpwph-body .select2-dropdown{
  top:30px;
}
.rcpwph-select~.select2-container .select2-selection--single,.rcpwph-select~.select2-container .select2-selection:not(.select2-selection--multiple) .select2-selection__rendered,.rcpwph-select~.select2-container .select2-selection__arrow{
  min-height:50px;
}
.rcpwph-select~.select2-container .select2-selection__placeholder,.rcpwph-select~.select2-container .select2-selection:not(.select2-selection--multiple) .select2-selection__rendered{
  line-height:50px;
}
.rcpwph-select~.select2-container .select2-selection--single .select2-selection__clear{
  font-size:20px;
  padding-right:10px;
}
.rcpwph-select~.select2-container .select2-selection--multiple{
  height:auto;
}
.rcpwph-fancybox-content .rcpwph-select~.select2-container,.rcpwph-select~.select2-container{
  width:100%;
}
.fancybox-content{
  border-radius:5px;
}
/* WPH TABS */
.rcpwph-tabs{
  display:flex;
  flex-wrap:nowrap;
  overflow-x:auto;
  border:1px solid #cccccc;
  background-color:#f1f1f1
}
.rcpwph-tabs button{
  width:50%;
  background-color:inherit;
  float:left;
  border:none;
  outline:0;
  cursor:pointer;
  padding:14px 16px;
  transition:.3s
}
.rcpwph-tabs button:hover{
  background-color:#dddddd
}
.rcpwph-tabs button.active{
  background-color:#cccccc
}
.rcpwph-tab-content{
  padding:30px 12px 6px;
  border:1px solid #cccccc;
  border-top:none
}
/*  END WPH TABS */

.pn-test-family .pn-test-family-questions .rcpwph-input-wrapper,.pn-test-personality .pn-test-personality-questions .rcpwph-input-wrapper{
  max-width:500px;
  margin:auto;
}
header .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content{
  text-transform:uppercase;
  font-weight:400;
  font-size:13px;
  font-family:Montserrat,sans-serif;
}
p strong,li strong{
  color:var(--color-main);
}

/* OWL CAROUSEL */
.rcpwph-carousel .owl-nav{
  position:absolute;
  top:23%;
  width:100%;
}
.rcpwph-carousel .owl-nav .owl-prev{
  position:absolute;
  left:-50px;
}
.rcpwph-carousel .owl-nav .owl-next{
  position:absolute;
  right:-50px;
}
.rcpwph-carousel .owl-nav i{
  font-size:50px;
}
.rcpwph-carousel .owl-dots{
  margin-top:30px;
}
.rcpwph-carousel .owl-item{
  cursor:grab;
}
.rcpwph-carousel .owl-dots{
  -webkit-tap-highlight-color:transparent;
  text-align:center;
  margin-top:20px;
}
.rcpwph-carousel .owl-dot{
  display:inline-block;
   zoom:1;
}
.rcpwph-carousel .owl-dot span{
  width:10px;
  height:10px;
  margin:5px 7px;
  background:#d6d6d6;
  display:block;
  -webkit-backface-visibility:visible;
  transition:opacity .2s ease;
  border-radius:30px;
}
.rcpwph-carousel .owl-dots .owl-dot.active span,.rcpwph-carousel .owl-dots .owl-dot:hover span{
  background-color:#585f62;
}
.darkmode--enabled img,.darkmode--enabled figure,.darkmode--enabled .rcpwph-btn,.darkmode--enabled .vle-btn,.darkmode--enabled .material-icons-outlined.rcpwph-color-main-0,.darkmode--enabled .wp-element-button,.darkmode--enabled footer{
  mix-blend-mode:difference;
}

@media all and (max-width:768px){
  .rcpwph-carousel .owl-nav button.owl-prev{
    left:-40px;
  }
  .rcpwph-carousel .owl-nav button.owl-next{
    right:-40px;
  }
}
/* END OWL CAROUSEL */

.rcpwph-bordered{
  border:1px solid #c3c3c3;
}
audio {
    filter:sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width:200px;
    height:25px;
}
body footer h5.has-body-font-family::after{
  background-color:var(--bg-color-main)!important;
}
.vle-lesson-content .wp-block-embed__wrapper{
  text-align:center;
}
.wp-block-navigation.items-justified-right .wp-block-navigation__container .has-child .wp-block-navigation__submenu-container,.wp-block-navigation.items-justified-right .wp-block-page-list>.has-child .wp-block-navigation__submenu-container,.wp-block-navigation.items-justified-space-between .wp-block-page-list>.has-child:last-child .wp-block-navigation__submenu-container,.wp-block-navigation.items-justified-space-between>.wp-block-navigation__container>.has-child:last-child .wp-block-navigation__submenu-container{
  right:auto;
  left:0;
}
.pn_coupon_code{
  margin-top:30px;
  margin-bottom:50px;
  display:block;
  padding:30px;
  vertical-align:middle;
  text-align:center;
  color:var(--color-main);
  background:var(--color-main-blue);
  border-radius:5px;
  font-family:Montserrat,sans-serif;
  font-weight:bold;
}
.rcpwph-list-behaviours{
  max-width:500px;
  margin:auto;
  margin-bottom:30px;
  padding:10px 30px;
  border:1px solid #c3c3c3;
  border-radius:5px;
}
.rcpwph-list-behaviours a{
  text-decoration:none;
}
.rcpwph-list-behaviours h3,.rcpwph-list-behaviours h4,.rcpwph-list-behaviours h5,.rcpwph-list-behaviours h6{
  font-size:13px;
  font-weight:normal;
}
.rcpwph-list-behaviours .rcpwph-active{
  text-decoration:underline;
}

@media all and (max-width:768px){
  .rcpwph-text-2-columns{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }
  .rcpwph-tablet-width-100-percent{
    width:100%;
  }
  .rcpwph-tablet-display-block{
    display:block
  }
  .rcpwph-tablet-display-table{
    display:table
  }
  .rcpwph-container{
    flex-direction:column;
  } 
  .wp-block-navigation.items-justified-right{
    --navigation-layout-justification-setting:flex-start;
    --navigation-layout-justify:flex-start;
  }
}

@media all and (max-width:450px){
  .rcpwph-mobile-width-100-percent{
    width:100%;
  }
  .rcpwph-mobile-display-block{
    display:block
  }
  .rcpwph-mobile-display-table{
    display:table
  }
}

/* WPH FORMS */
.rcpwph-section-helper{
  position:absolute;
  left:-15px;
  font-size:20px;
  cursor:help;
}
.rcpwph-toggle label{
  font-weight:bold;
  font-size:18px;
}
.rcpwph-images img{
  width:50px!important;
  height:auto!important;
}
.rcpwph-videos{
  margin-bottom:20px!important;
}
.rcpwph-videos img{
  width:50px!important;
  height:auto!important;
  text-align:center;
}
.rcpwph-video{
  padding:10px!important;
  margin:0px 10px!important;
  display:inline-block!important;
  border:1px solid #a2a2a2!important;
  border-radius:5px!important;
}
.rcpwph-video i{
  font-size:50px!important;
  width:100%!important;
  display:block!important;
  min-height:50px!important;
}
.rcpwph-videos-block{
  text-align:center!important;
}
.rcpwph-audios{
  margin-bottom:20px!important;
}
.rcpwph-audios img{
  width:50px!important;
  height:auto!important;
  text-align:center;
}
.rcpwph-audio{
  padding:10px!important;
  margin:0px 10px!important;
  display:inline-block!important;
  border:1px solid #a2a2a2!important;
  border-radius:5px!important;
}
.rcpwph-audio i{
  font-size:50px!important;
  width:100%!important;
  display:block!important;
  min-height:50px!important;
}
.rcpwph-audios-block{
  text-align:center!important;
}
.rcpwph-files embed{
  width:100%;
  height:100px;
}
.rcpwph-input-range{
  height:35px;
  -webkit-appearance:none;
  margin:10px 0;
  width:100%;
  border-bottom:none;
  padding:0;
  border:0!important;
}
.rcpwph-input-range:focus{
  outline:none;
}
.rcpwph-input-range::-webkit-slider-runnable-track{
  width:100%;
  height:30px;
  cursor:pointer;
  animate:0.2s;
  box-shadow:0px 0px 0px #000000;
  background:#c1c1c1;
  border-radius:50px;
  border:0px solid #000000;
}
.rcpwph-input-range::-webkit-slider-thumb{
  box-shadow:1px 1px 5px #000000;
  border:0px solid #000000;
  height:28px;
  width:25px;
  border-radius:50px;
  background:#FFFFFF;
  cursor:pointer;
  -webkit-appearance:none;
  margin-top:1px;
}
.rcpwph-input-range:focus::-webkit-slider-runnable-track{
  background:#c1c1c1;
}
.rcpwph-input-range::-moz-range-track{
  width:100%;
  height:30px;
  cursor:pointer;
  animate:0.2s;
  box-shadow:0px 0px 0px #000000;
  background:#c1c1c1;
  border-radius:50px;
  border:0px solid #000000;
}
.rcpwph-input-range::-moz-range-thumb{
  box-shadow:1px 1px 5px #000000;
  border:0px solid #000000;
  height:28px;
  width:25px;
  border-radius:50px;
  background:#FFFFFF;
  cursor:pointer;
}
.rcpwph-input-range::-ms-track{
  width:100%;
  height:30px;
  cursor:pointer;
  animate:0.2s;
  background:transparent;
  border-color:transparent;
  color:transparent;
}
.rcpwph-input-range::-ms-fill-lower{
  background:#c1c1c1;
  border:0px solid #000000;
  border-radius:100px;
  box-shadow:0px 0px 0px #000000;
}
.rcpwph-input-range::-ms-fill-upper{
  background:#c1c1c1;
  border:0px solid #000000;
  border-radius:100px;
  box-shadow:0px 0px 0px #000000;
}
.rcpwph-input-range::-ms-thumb{
  margin-top:1px;
  box-shadow:1px 1px 5px #000000;
  border:0px solid #000000;
  height:28px;
  width:25px;
  border-radius:50px;
  background:#FFFFFF;
  cursor:pointer;
}
.rcpwph-input-range:focus::-ms-fill-lower{
  background:#c1c1c1;
}
.rcpwph-input-range:focus::-ms-fill-upper{
  background:#c1c1c1;
}
.rcpwph-input-range-wrapper,.rcpwph-input-stars-wrapper{
  position:relative;
  padding-bottom:30px;
}
.rcpwph-input-range-label-min,.rcpwph-input-stars-label-min{
  position:absolute;
  top:50px;
  left:-50px;
}
.rcpwph-input-hidden-stars{
  text-align:center;
  font-size:30px!important;
  font-weight:bold;
  border:none!important;
  padding:0!important;
  margin:0;
}
@media all and (max-width:768px){
  .rcpwph-input-range-label-min,.rcpwph-input-stars-label-min{
    left:-10px;
  }
}
.rcpwph-input-range-label-max,.rcpwph-input-stars-label-max{
  position:absolute;
  top:50px;
  right:-50px;
}
@media all and (max-width:768px){
  .rcpwph-input-range-label-max,.rcpwph-input-stars-label-max{
    right:-10px;
  }
}
.rcpwph-input-range-output{
  text-align:center;
  margin-top:0;
}
.rcpwph-input-star{
  cursor:pointer;
  width:50px;
  padding:0 20px;
  font-size:50px!important;
}
/* WPH FORMS */


/* WPH SWITCH */
.rcpwph-switch input.rcpwph-input[type="checkbox"]{
  min-height:24px!important;
  margin-bottom:0!important;
}
.rcpwph-switch{
  position:relative;
  display:inline-block;
  width:60px;
  height:24px;
}
.rcpwph-switch input{
  opacity:0;
  width:0;
  height:0;
}
.rcpwph-slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#cccccc;
  -webkit-transition:.4s;
  transition:.4s;
}
.rcpwph-slider:before{
  position:absolute;
  content:"";
  height:18px;
  width:18px;
  left:4px;
  bottom:3px;
  background-color:white;
  -webkit-transition:.4s;
  transition:.4s;
}
input:checked + .rcpwph-slider{
  background-color:var(--bg-color-main);
}
input:focus + .rcpwph-slider{
  box-shadow:0 0 1px var(--bg-color-main);
}
input:checked + .rcpwph-slider:before{
  -webkit-transform:translateX(33px);
  -ms-transform:translateX(33px);
  transform:translateX(33px);
}
.rcpwph-slider.rcpwph-round{
  border-radius:34px;
}
.rcpwph-slider.rcpwph-round:before{
  border-radius:50%;
}
/* END WPH SWITCH */